h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #FA9401;
  margin:15.5px;
}

.contatoBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;

}



.infoContat li{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.infoContat li img{
  width: 15px;
  height: 20px;
  margin-right: 19.5px;
  margin-left: 19.5px;
}

.icones{
  display: flex;
  flex-direction: row;
}

.icones li{
  margin: 5%;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  position: absolute;
  width: 360px;
  height: 30px;
  left: 0px;
  bottom: 0px;
  background: #FA9401;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;

  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.15);
}

footer p{
  border-radius: 25px;
}