*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #444242;
  padding: 0px 2%;
  min-width: 360px;
  height: 64px;  
}
@media screen and (min-width: 360px) and (max-width: 480px) {

  header{
    width:480px;
    left: 0px;
    top: 0px;
  } 


  }

  .cabeçalho{
    width: 100%;
    right: 0;
  }


  .voltar{
    width: 20px;
    height:20px;
    left: 15%;
  }

  .logHeader{
    position: absolute;
    width: 120px;
    height: 38.01px;
    left: 33.0555%; /*119px;*/
    margin-right: 5%;
    top: 12.99px;
  }

  .menuBtns{
    left: 76%;
    
  }

  #cart{
    border: none;
    background: transparent;
    /*left: 76%;*/
    right: 20%;
    top: 25px;
    position: absolute;
    cursor: pointer;
  }
  .carrinho{
    position: absolute;
    /*left: 76%;/*273px;*/
    margin:0;
    width: 20px;
    height: 19px;

  }

  #cartQtde{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;

    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    width: 16px;
    height: 16px;
    top: -10px;
    left: 120%; /*287px;*/
    background: #FA9401;
    border-radius: 20px;
    z-index: 2;
}