#menuT a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuT a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 23.5px;
  right: 5%;
  z-index: 9;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 1; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 24px;
  height: 4px;
  margin-bottom: 3px;
  position: relative;
  
  background: #FFFFFF;
  border-radius: 3px;
  
  z-index: 11;
  
  transform-origin: px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(0.5px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(10px, -1px);
}

#menuT
{
  box-shadow:5px 5px 0 rgb(87, 86, 86) 0.9;
  position: absolute;
  width: 200px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -150px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuT.visible{
  display:none;
  z-index: -2;
}

#menuT li
{
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}