body{
  background-color: #444242;
  font-family: 'Roboto', sans-serif;
}

header{
  display: flex;
  align-items: baseline;
}

@media screen and (width: 640px) and (height:360px){
  footer{
    display: none;
    margin-top: 2rem;
  }
}